[Unit]
Description=FS remounter service

[Service]
Type=simple
ExecStart=/bin/bash /opt/remounter/bin/remount.sh

[Install]
WantedBy=multi-user.target
