[Unit]
Description=FS remounter service
Requires=network.target
After=network.target
Requires=remote-fs.target
After=remote-fs.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/remounter/bin/remount.sh

[Install]
WantedBy=multi-user.target
